* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display:grid;
  grid-template-columns:1fr 4fr;
  gap:4px;
  grid-template-areas:
  "header header"
  "sidebar nav"
  "sidebar article"
  "footer footer"
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area:header;
  display:grid;
  grid-template-columns:repeat(5, 1fr);
  background-color: #393f4d;
}

.logo{
  justify-self: left;
  grid-column:1/span 2;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu > ul, .nav > ul{
  display:grid;
}
.menu > ul{
  grid-template-columns:repeat(5,1fr);
  grid-template-rows:1fr;
}

.menu{
  grid-column:3/6;

}

.nav > ul {
  display:grid;
  grid-template-columns:repeat(3,1fr);
}



.sidebar {
  grid-area:sidebar;
  background-color: #C50208;
  display:grid;
  gap:50px;
  align-items:stretch;
  justify-items:stretch;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-area:nav;
  background-color: #C50208;
}
.nav ul{
  display:grid;
  grid-column:repeat(3,1fr);
}

ul {
  list-style-type:none;
}
.nav ul li {
  font-size:16px;
  text-transform: uppercase;
}

.article {
  display:grid;
  grid-area:article;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height:200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area:footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}